.drawer {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    background-color: transparent;
}

.drawer__content {
    position: fixed;
    width: 100%;
    height: 0;
    bottom: 0;
    background-color: white;
    transition: height 0.2s cubic-bezier(0.03, 1.01, 0.41, 0.97);
}

.drawer__content.low {
    height: 25%;
}

.drawer__content.middle {
    height: 50%;
}

.drawer__content.high {
    height: 75%;
}

.drawer__content.full {
    height: 98%;
}

.drawer__backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s cubic-bezier(0.03, 1.01, 0.41, 0.97);
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
}

.drawer__backdrop.active {
    background-color: rgba(0, 0, 0, 0.4);
}