:root {
   --primary: #dc6b19;
   --primary-bg: white;
   --primary-comp: #fff8dc;
   --primary-comp-bg: #ef9c66;

   --secondary-comp: #684700;
   --secondary-comp-bg: #ffde95;

   --drawer-header-height: 3rem;
   --button-shadow: #d3d3d3;
}

body {
   margin: 0;
   background-color: rgb(126, 126, 126);
   overflow: hidden;
   font-family: sans-serif;
   color: black;
}

.button {
   font-size: 18px;
   padding: 4px 8px;
   border-radius: 5px;
}

.primary {
   color: var(--primary-comp);
   background-color: var(--primary-comp-bg);
   border: none;
}

.secondary {
   color: var(--primary-comp-bg);
   background-color: var(--primary-comp);
   box-shadow: inset 0 0 0 2px var(--primary-comp-bg);
}
