.calendar {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.calendar__day {
    background-color: var(--primary-comp-bg);
    color: var(--primary-comp);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}