.diary__log {
    padding: 16px;
}

.diary__log-session {
   display: flex;
   gap: 1rem;
   align-items: center;
}

.diary__log-session-day {
   display: flex;
   flex-direction: column;
   gap: 2px;
   background-color: black;
   color: white;
   border-radius: 5px;
   padding: 3px;
}
